<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book to <%=shopData.shopName%></title>
</head>
<body>
    <h1>Add a book</h1>
    <form action="addBook-result" method="GET">
      <p>What book are you adding?</p>
      <input id="add-box" type="text" name="add_text">
      <input type="submit" value="Add" >
    </form>
</body>
</html>